USE [master]
GO
/****** Object:  Database [UYAP_PROJE]    Script Date: 20.09.2025 19:06:42 ******/
CREATE DATABASE [UYAP_PROJE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UYAP_PROJE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UYAP_PROJE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UYAP_PROJE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UYAP_PROJE_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UYAP_PROJE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UYAP_PROJE]
GO
/****** Object:  Table [dbo].[Adresi_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresi_](
	[Adres_ID] [int] NOT NULL,
	[Kapi_No] [int] NOT NULL,
	[Cadde_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Adres_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Belge_Tipi_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Belge_Tipi_](
	[Belge_ID] [int] NOT NULL,
	[Belge_Tur] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Belge_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Belgeler_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Belgeler_](
	[Belge_Numarasi] [int] NOT NULL,
	[Belge_Adi] [varchar](255) NOT NULL,
	[Dosya_Yolu] [varchar](255) NOT NULL,
	[Belge_Tarih] [date] NOT NULL,
	[Belge_Aciklama] [varchar](255) NULL,
	[Belge_ID] [int] NULL,
	[Dosya_Numarasi] [int] NOT NULL,
	[Kullanici_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Belge_Numarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cadde_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cadde_](
	[Cadde_ID] [int] NOT NULL,
	[Cadde_Adi] [varchar](255) NOT NULL,
	[Mahalle_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cadde_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosya_Taraflari_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosya_Taraflari_](
	[Dosya_Numarasi] [int] NOT NULL,
	[Taraf_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Dosya_Numarasi] ASC,
	[Taraf_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosya_Tipi_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosya_Tipi_](
	[Dosya_ID] [int] NOT NULL,
	[D_Tur] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dosya_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosyalar_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosyalar_](
	[Dosya_Numarasi] [int] NOT NULL,
	[Dosya_Adi] [varchar](50) NULL,
	[Dosya_Acilis_Tarihi] [date] NULL,
	[Dosya_Kapama_Tarihi] [date] NOT NULL,
	[Dosya_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dosya_Numarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Durusma_Belgeleri_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Durusma_Belgeleri_](
	[Durusma_ID] [int] NOT NULL,
	[Belge_Numarasi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Durusma_ID] ASC,
	[Belge_Numarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Durusma_Salonu_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Durusma_Salonu_](
	[Salon_ID] [int] NOT NULL,
	[Salon_No] [int] NOT NULL,
	[Mahkeme_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Salon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Durusmalar_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Durusmalar_](
	[Durusma_ID] [int] NOT NULL,
	[Durusma_Tarihi] [date] NULL,
	[Durusma_Saati] [time](7) NULL,
	[Durusma_Sebebi] [nvarchar](50) NULL,
	[Salon_ID] [int] NULL,
	[Dosya_Numarasi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Durusma_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Il_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Il_](
	[Il_ID] [int] NOT NULL,
	[Il_Adi] [varchar](255) NOT NULL,
	[Il_No] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Il_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilcesi_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilcesi_](
	[Ilce_ID] [int] NOT NULL,
	[Ilce_Adi] [varchar](255) NOT NULL,
	[Ilce_Kodu] [int] NOT NULL,
	[Il_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ilce_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici_Dosyalari_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici_Dosyalari_](
	[Kullanici_ID] [int] NOT NULL,
	[Dosya_Numarasi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Kullanici_ID] ASC,
	[Dosya_Numarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici_Tipi_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici_Tipi_](
	[Kul_ID] [int] NOT NULL,
	[K_Tur] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Kul_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar_](
	[Kullanici_ID] [int] NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[TC_NO] [varchar](11) NOT NULL,
	[Sifre] [varchar](50) NOT NULL,
	[E_posta_Adresi] [varchar](50) NOT NULL,
	[Telefon_No] [varchar](20) NOT NULL,
	[Kayıt_Tarihi] [date] NULL,
	[Son_Giris_Tarihi] [date] NOT NULL,
	[Kullanici_Adi] [varchar](50) NOT NULL,
	[Kul_ID] [int] NULL,
	[Durusma_ID] [int] NULL,
	[Taraf_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Kullanici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahalle_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahalle_](
	[Mahalle_ID] [int] NOT NULL,
	[Mahalle_Adi] [varchar](255) NOT NULL,
	[Ilce_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Mahalle_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahkeme_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahkeme_](
	[Mahkeme_ID] [int] NOT NULL,
	[Mah_Adi] [varchar](255) NOT NULL,
	[Mah_TurID] [int] NOT NULL,
	[Adres_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mahkeme_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahkeme_Tipi_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahkeme_Tipi_](
	[Mah_TurID] [int] NOT NULL,
	[Mah_Tur] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mah_TurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odeme_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme_](
	[Odeme_ID] [int] NOT NULL,
	[Miktar] [decimal](10, 2) NOT NULL,
	[Kayit_Tarihi] [date] NULL,
	[Odeme_Tarihi] [date] NULL,
	[Otur_ID] [int] NULL,
	[Oyon_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Odeme_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odeme_Tur_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme_Tur_](
	[Otur_ID] [int] NOT NULL,
	[O_Tur] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Otur_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odeme_Yontemi_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme_Yontemi_](
	[Oyon_ID] [int] NOT NULL,
	[Yontem] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Oyon_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taraf_Sifati_]    Script Date: 20.09.2025 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taraf_Sifati_](
	[Taraf_ID] [int] NOT NULL,
	[Sifati] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Taraf_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dosyalar_] ADD  DEFAULT (getdate()) FOR [Dosya_Acilis_Tarihi]
GO
ALTER TABLE [dbo].[Kullanicilar_] ADD  DEFAULT (getdate()) FOR [Kayıt_Tarihi]
GO
ALTER TABLE [dbo].[Odeme_] ADD  DEFAULT (getdate()) FOR [Kayit_Tarihi]
GO
ALTER TABLE [dbo].[Adresi_]  WITH CHECK ADD FOREIGN KEY([Cadde_ID])
REFERENCES [dbo].[Cadde_] ([Cadde_ID])
GO
ALTER TABLE [dbo].[Adresi_]  WITH CHECK ADD FOREIGN KEY([Cadde_ID])
REFERENCES [dbo].[Cadde_] ([Cadde_ID])
GO
ALTER TABLE [dbo].[Belgeler_]  WITH CHECK ADD FOREIGN KEY([Belge_ID])
REFERENCES [dbo].[Belge_Tipi_] ([Belge_ID])
GO
ALTER TABLE [dbo].[Belgeler_]  WITH CHECK ADD FOREIGN KEY([Belge_ID])
REFERENCES [dbo].[Belge_Tipi_] ([Belge_ID])
GO
ALTER TABLE [dbo].[Belgeler_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Belgeler_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Belgeler_]  WITH CHECK ADD FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanicilar_] ([Kullanici_ID])
GO
ALTER TABLE [dbo].[Belgeler_]  WITH CHECK ADD FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanicilar_] ([Kullanici_ID])
GO
ALTER TABLE [dbo].[Cadde_]  WITH CHECK ADD FOREIGN KEY([Mahalle_ID])
REFERENCES [dbo].[Mahalle_] ([Mahalle_ID])
GO
ALTER TABLE [dbo].[Cadde_]  WITH CHECK ADD FOREIGN KEY([Mahalle_ID])
REFERENCES [dbo].[Mahalle_] ([Mahalle_ID])
GO
ALTER TABLE [dbo].[Dosya_Taraflari_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Dosya_Taraflari_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Dosya_Taraflari_]  WITH CHECK ADD FOREIGN KEY([Taraf_ID])
REFERENCES [dbo].[Taraf_Sifati_] ([Taraf_ID])
GO
ALTER TABLE [dbo].[Dosya_Taraflari_]  WITH CHECK ADD FOREIGN KEY([Taraf_ID])
REFERENCES [dbo].[Taraf_Sifati_] ([Taraf_ID])
GO
ALTER TABLE [dbo].[Dosyalar_]  WITH CHECK ADD FOREIGN KEY([Dosya_ID])
REFERENCES [dbo].[Dosya_Tipi_] ([Dosya_ID])
GO
ALTER TABLE [dbo].[Dosyalar_]  WITH CHECK ADD FOREIGN KEY([Dosya_ID])
REFERENCES [dbo].[Dosya_Tipi_] ([Dosya_ID])
GO
ALTER TABLE [dbo].[Durusma_Belgeleri_]  WITH CHECK ADD FOREIGN KEY([Belge_Numarasi])
REFERENCES [dbo].[Belgeler_] ([Belge_Numarasi])
GO
ALTER TABLE [dbo].[Durusma_Belgeleri_]  WITH CHECK ADD FOREIGN KEY([Belge_Numarasi])
REFERENCES [dbo].[Belgeler_] ([Belge_Numarasi])
GO
ALTER TABLE [dbo].[Durusma_Belgeleri_]  WITH CHECK ADD FOREIGN KEY([Durusma_ID])
REFERENCES [dbo].[Durusmalar_] ([Durusma_ID])
GO
ALTER TABLE [dbo].[Durusma_Belgeleri_]  WITH CHECK ADD FOREIGN KEY([Durusma_ID])
REFERENCES [dbo].[Durusmalar_] ([Durusma_ID])
GO
ALTER TABLE [dbo].[Durusma_Salonu_]  WITH CHECK ADD FOREIGN KEY([Mahkeme_ID])
REFERENCES [dbo].[Mahkeme_] ([Mahkeme_ID])
GO
ALTER TABLE [dbo].[Durusma_Salonu_]  WITH CHECK ADD FOREIGN KEY([Mahkeme_ID])
REFERENCES [dbo].[Mahkeme_] ([Mahkeme_ID])
GO
ALTER TABLE [dbo].[Durusmalar_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Durusmalar_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Durusmalar_]  WITH CHECK ADD FOREIGN KEY([Salon_ID])
REFERENCES [dbo].[Durusma_Salonu_] ([Salon_ID])
GO
ALTER TABLE [dbo].[Durusmalar_]  WITH CHECK ADD FOREIGN KEY([Salon_ID])
REFERENCES [dbo].[Durusma_Salonu_] ([Salon_ID])
GO
ALTER TABLE [dbo].[Ilcesi_]  WITH CHECK ADD FOREIGN KEY([Il_ID])
REFERENCES [dbo].[Il_] ([Il_ID])
GO
ALTER TABLE [dbo].[Ilcesi_]  WITH CHECK ADD FOREIGN KEY([Il_ID])
REFERENCES [dbo].[Il_] ([Il_ID])
GO
ALTER TABLE [dbo].[Kullanici_Dosyalari_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Kullanici_Dosyalari_]  WITH CHECK ADD FOREIGN KEY([Dosya_Numarasi])
REFERENCES [dbo].[Dosyalar_] ([Dosya_Numarasi])
GO
ALTER TABLE [dbo].[Kullanici_Dosyalari_]  WITH CHECK ADD FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanicilar_] ([Kullanici_ID])
GO
ALTER TABLE [dbo].[Kullanici_Dosyalari_]  WITH CHECK ADD FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanicilar_] ([Kullanici_ID])
GO
ALTER TABLE [dbo].[Kullanicilar_]  WITH CHECK ADD FOREIGN KEY([Durusma_ID])
REFERENCES [dbo].[Durusmalar_] ([Durusma_ID])
GO
ALTER TABLE [dbo].[Kullanicilar_]  WITH CHECK ADD FOREIGN KEY([Durusma_ID])
REFERENCES [dbo].[Durusmalar_] ([Durusma_ID])
GO
ALTER TABLE [dbo].[Kullanicilar_]  WITH CHECK ADD FOREIGN KEY([Kul_ID])
REFERENCES [dbo].[Kullanici_Tipi_] ([Kul_ID])
GO
ALTER TABLE [dbo].[Kullanicilar_]  WITH CHECK ADD FOREIGN KEY([Kul_ID])
REFERENCES [dbo].[Kullanici_Tipi_] ([Kul_ID])
GO
ALTER TABLE [dbo].[Kullanicilar_]  WITH CHECK ADD FOREIGN KEY([Taraf_ID])
REFERENCES [dbo].[Taraf_Sifati_] ([Taraf_ID])
GO
ALTER TABLE [dbo].[Kullanicilar_]  WITH CHECK ADD FOREIGN KEY([Taraf_ID])
REFERENCES [dbo].[Taraf_Sifati_] ([Taraf_ID])
GO
ALTER TABLE [dbo].[Mahalle_]  WITH CHECK ADD FOREIGN KEY([Ilce_ID])
REFERENCES [dbo].[Ilcesi_] ([Ilce_ID])
GO
ALTER TABLE [dbo].[Mahalle_]  WITH CHECK ADD FOREIGN KEY([Ilce_ID])
REFERENCES [dbo].[Ilcesi_] ([Ilce_ID])
GO
ALTER TABLE [dbo].[Mahkeme_]  WITH CHECK ADD FOREIGN KEY([Adres_ID])
REFERENCES [dbo].[Adresi_] ([Adres_ID])
GO
ALTER TABLE [dbo].[Mahkeme_]  WITH CHECK ADD FOREIGN KEY([Adres_ID])
REFERENCES [dbo].[Adresi_] ([Adres_ID])
GO
ALTER TABLE [dbo].[Mahkeme_]  WITH CHECK ADD FOREIGN KEY([Mah_TurID])
REFERENCES [dbo].[Mahkeme_Tipi_] ([Mah_TurID])
GO
ALTER TABLE [dbo].[Mahkeme_]  WITH CHECK ADD FOREIGN KEY([Mah_TurID])
REFERENCES [dbo].[Mahkeme_Tipi_] ([Mah_TurID])
GO
ALTER TABLE [dbo].[Odeme_]  WITH CHECK ADD FOREIGN KEY([Otur_ID])
REFERENCES [dbo].[Odeme_Tur_] ([Otur_ID])
GO
ALTER TABLE [dbo].[Odeme_]  WITH CHECK ADD FOREIGN KEY([Otur_ID])
REFERENCES [dbo].[Odeme_Tur_] ([Otur_ID])
GO
ALTER TABLE [dbo].[Odeme_]  WITH CHECK ADD FOREIGN KEY([Oyon_ID])
REFERENCES [dbo].[Odeme_Yontemi_] ([Oyon_ID])
GO
ALTER TABLE [dbo].[Odeme_]  WITH CHECK ADD FOREIGN KEY([Oyon_ID])
REFERENCES [dbo].[Odeme_Yontemi_] ([Oyon_ID])
GO
USE [master]
GO
